#mik-header {
	text-align: center;
	font-family: "Montserrat",Arial,sans-serif;
	color: #333;
	border-bottom: 1px solid #999;
	padding: 10px 0;
	margin-bottom: 15px;
}
#mik-header .simple-logo {
	margin-bottom: 10px;
}
#mik-header a {
	font-size: 14px;
	color: #333333;
	text-transform: uppercase;
	text-decoration: none;
}
#mik-header a:hover {
	text-decoration: underline;
}


#mik-footer {
	text-align: center;
	font-family: "Montserrat",Arial,sans-serif;
	font-size: 10px;
	color: #666;
	padding: 10px 5px;
}
#mik-footer a {
	color: #666;
	text-transform: uppercase;
	text-decoration: none;
}
#mik-footer a:hover {
	text-decoration: underline;
}